<nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
	<div class="container">
		<a class="navbar-brand" href="/">Book DriveTest</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="/">DASHBOARD</a>
				</li>
				<% if (locals.authenticated) { %>
				<!-- user is authenticated -->
				<% if (locals.userType === "driver") { %>
				<!-- userType: driver -->
				<li class="nav-item">
					<a class="nav-link active" href="/G2">G2_TEST</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/G">G_TEST</a>
				</li>
				<!-- // userType: driver -->
				<% } %> <% if (locals.userType === "admin") { %>
				<!-- userType: admin -->
				<li class="nav-item">
					<a class="nav-link active" href="/appointment">APPOINTMENT</a>
				</li>
				<!-- // userType: admin -->
				<% } %> <% if (locals.userType === "examiner") { %>
				<!-- userType: examiner -->
				<li class="nav-item">
					<a class="nav-link active" href="/examiner">Examiner</a>
				</li>
				<!-- // userType: examiner -->
				<% } %>
				<li class="nav-item">
					<a class="nav-link active" href="/logout">LOGOUT</a>
				</li>
				<!-- // user is authenticated -->
				<% } else { %>
				<!-- user is not authenticated -->
				<li class="nav-item">
					<a class="nav-link active" href="/login">LOGIN</a>
				</li>
				<!-- // user is not authenticated -->
				<% } %>
			</ul>
		</div>
	</div>
</nav>
